$primary-color: #66bfbf !default;
$secondary-color: #f76b8a !default;
//$light-color: #ffffff;
//$dark-color: #111;
//html {height: 100%;}
body {min-height: 100vh;}
@import "../node_modules/spectre.css/src/spectre";
:root{
  --color-primary: #{$primary-color};
  --color-secondary: #{$secondary-color};
  --color-light: #{$light-color};
  --color-dark: #{$dark-color};
}

article{padding: 1em;max-width: 40em; margin: 0 auto;}
* {
  transition-duration: 200ms;
}
/*
$primary-color: #5755d9 !default;
$secondary-color: lighten($primary-color, 37.5%) !default;

$dark-color: #303742 !default;
$light-color: #fff !default;

$border-color: lighten($dark-color, 65%) !default;
$bg-color: lighten($dark-color, 75%) !default;
*/
